@import "ressources.css";

footer h1 {
  font-size: 26px;
  font-family: 'RobotoSlab', sans-serif;
}

.contener{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 70px;
  background: radial-gradient(circle, hsl(354, 72%, 39%) 6%, rgb(3,1,2) 54%);
}

.texte-footer{
  color: rgba(255, 255, 255, 0.74);
  font-size: clamp(1em, 1.5em, 5em);
  margin-top: 60px;
}

footer p {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

select option:checked {
  background-color: hsla(0, 0%, 70%, 30%);
}

footer nav{
  position: absolute;
  left: 50%;
  width: 200px;
  transition-duration: 0.5s;
  overflow: visible;
  transform: translateX(-50%);
  margin-bottom: 80px;
}
.contener-logo{
  width:auto;
  height:35px;
  border-radius: 22.5px;
  background-color: rgba(255, 255, 255, 0.658);
  position: absolute;
  font-size: 30px;
  color: rgb(7, 3, 3);
  box-sizing: content-box;
  padding:5px 10px;
  transition: all .5s;

  
}
.fa-brands{
  font-size: 35px;
  display: inline-block;
  padding: 5px 0;
  transition-duration: .5s;
  opacity: 0;
  cursor: pointer;
  
}
footer nav:hover .fa-brands{
  transform: translateX(10px);
  margin-left: 20px;
  opacity: 1;
}

footer nav:hover .contener-logo{
  z-index: -1;
  opacity:0;
  transition: opacity .5s ease-in-out;
}

footer nav:hover{
  width: 280px;
}
