@import 'ressources.css';

#tableau-categories {

    padding: 50px 3.5%;

    width: 100%;
    
}


#tableau-categories > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: auto;

    width: min(100%, 900px);
}

#tableau-categories figure {
    position: relative;

    background-position: center;
    background-size: cover;
    border-radius: 3px;
    
    height: 380px;
    width: min(100%, 1700px);

    margin: 20px;

    border: 15px double white;
    
    cursor: pointer;
    transition: 500ms;
}

#tableau-categories figure:hover {
    box-shadow: 0 0 15px hsla(13, 40%, 36%, 75%);
    transform: scale(102%);
}

#tableau-categories figcaption {
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#tableau-categories p {
    font-family: 'GreatVibes', sans-serif;
    font-size: 55px;
    color: hsl(13, 50%, 95%);
    text-shadow: 0 0 15px hsl(24, 8%, 13%);
    text-align: center;

    padding: 15px;
}

.tableau{
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s linear,
    opacity 0.4s linear;
}
.tableau.active{
    transform: translateX(0%);
    opacity: 1;
} 